* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-sans);
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--brown);
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background-color: var(--cream);
  border-radius: 1rem;
}

:root {
  --brown: #59291c;
  --yellow: #faaf18;
  --cream: #f5ece7;
  --orange: #ed7902;
  --blue: #475993;
  --gray: #979797;
  --white: #ffffff;
  --black: #000000;
  --font-sans: "Lato", sans-serif;
  --font-mono: "Ubuntu", sans-serif;
  --transition: all 0.2s ease-in-out;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  max-width: 125rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

header {
  width: 100%;
  height: 9rem;
  background-color: var(--white);
  display: flex;
  align-items: center;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container nav {
  display: flex;
  align-items: center;
  gap: 7rem;
}
header .container nav ul {
  display: flex;
  align-items: center;
  gap: 7.7rem;
}
header .container nav ul li a {
  display: flex;
  align-items: center;
  gap: 1.1rem;
}
header .container nav ul li a span {
  font-weight: bold;
  font-size: 1.4rem;
  color: var(--brown);
  text-transform: uppercase;
  font-family: var(--font-mono);
  transition: var(--transition);
}
header .container nav ul li a span:hover {
  color: var(--orange);
}

.s-hero {
  width: 100%;
  height: 62.3rem;
  background: linear-gradient(164deg, rgba(239, 225, 218, 0) 3.82%, #efe1da 90.95%);
}
.s-hero .container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.s-hero .left-container {
  flex: 1;
  padding-top: 12rem;
  max-width: 52.7rem;
}
.s-hero .left-container > img {
  animation: fadeUp 1s forwards;
}
.s-hero .left-container h3 {
  color: var(--yellow);
  font-family: var(--font-mono);
  font-size: 3.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2.2rem;
  display: flex;
  align-items: center;
  gap: 3.7rem;
  animation: fadeLeft 1s forwards;
}
.s-hero .left-container h3:after {
  content: "";
  flex: 1;
  max-width: 29rem;
  height: 2px;
  background: url("../img/line.svg") no-repeat center center;
  display: inline-block;
}
.s-hero .left-container .value {
  position: relative;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  gap: 3.7rem;
}
.s-hero .left-container .value > div {
  animation: fadeLeft 1s forwards;
}
.s-hero .left-container .value:after {
  content: "";
  position: absolute;
  background: url("../img/arrow-btn.svg") no-repeat center center;
  width: 6rem;
  height: 3.8rem;
  right: -4.5rem;
  top: 2rem;
  animation: fadeRight 1s forwards;
}
.s-hero .left-container .value h2 {
  color: var(--yellow);
  font-family: var(--font-mono);
  font-size: 6.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  animation: fadeLeft 1s forwards;
}
.s-hero .left-container .value span {
  color: var(--brown);
  font-size: 1.3rem;
  font-weight: bold;
}
.s-hero .left-container .value button {
  padding: 2.2rem 5.2rem;
  font-family: var(--font-mono);
  background-color: var(--brown);
  color: var(--white);
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 0.6rem;
  display: flex;
  text-transform: uppercase;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: var(--transition);
  animation: pulse 2s infinite;
}
.s-hero .left-container .value button:hover {
  background-color: var(--orange);
}
.s-hero .right-container {
  position: relative;
  background-color: var(--yellow);
  flex: 1;
  max-width: 52.8rem;
  height: 66.3rem;
  border-radius: 0 0 1.2rem 1.2rem;
  padding-top: 9.5rem;
  padding-bottom: 4rem;
  margin-right: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.s-hero .right-container .grelhado {
  animation: fadeDown 1s forwards;
}
.s-hero .right-container .image {
  position: absolute;
  width: 68.4rem;
  height: 49.2rem;
}
.s-hero .right-container .image img {
  position: absolute;
}
.s-hero .right-container .image img.refri {
  top: 2.5rem;
  left: 0;
  z-index: 1;
  animation: fadeLeft 1s forwards;
}
.s-hero .right-container .image img.fritas {
  top: 0;
  right: 0;
  z-index: 1;
  animation: fadeRight 1s forwards;
}
.s-hero .right-container .image img.lanche {
  bottom: 0;
  left: 52px;
  z-index: 2;
  animation: fadeUp 1s forwards;
}
.s-hero .right-container .image img.logo {
  bottom: 6px;
  right: 10px;
  z-index: 3;
  opacity: 0;
  animation: zoomIn 1s 0.5s forwards;
}
.s-hero .right-container .offer {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  animation: zoomIn 1s forwards;
}
.s-hero .right-container .offer:before {
  content: "";
  width: 8rem;
  height: 1.4rem;
  background: url(../img/line-left.svg) no-repeat center center;
  display: inline-block;
}
.s-hero .right-container .offer:after {
  content: "";
  width: 8rem;
  height: 1.4rem;
  background: url(../img/line-right.svg) no-repeat center center;
  display: inline-block;
}
.s-hero .right-container .offer p {
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 1.6rem;
}
.s-hero .right-container .offer p img {
  margin-right: 1.6rem;
}
.s-hero .right-container .offer p strong {
  margin-left: 0.5rem;
}

.s-offer {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 20rem;
  background: url("../img/bg-login.png") no-repeat left center;
  padding-top: 4.7rem;
  padding-bottom: 3.2rem;
}
.s-offer .container {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.s-offer .left-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4.1rem;
  flex: 1;
  max-width: 59.7rem;
  animation: fadeLeft 1s forwards;
}
.s-offer .left-container h3 {
  color: var(--white);
  font-family: var(--font-mono);
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.s-offer .left-container h2 {
  color: var(--brown);
  font-family: var(--font-mono);
  font-size: 4.2rem;
  font-weight: bold;
  letter-spacing: -3px;
}
.s-offer button {
  flex: 1;
  background-color: var(--white);
  border-radius: 0.6rem;
  margin-right: 3rem;
  max-width: 52.8rem;
  animation: fadeRight 1s forwards;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.9rem;
  padding: 3rem 0;
  transition: var(--transition);
}
.s-offer button:hover {
  background-color: var(--cream);
}
.s-offer button span {
  color: var(--blue);
  font-family: var(--font-mono);
  font-size: 2rem;
  font-weight: bold;
}

.s-combos {
  padding: 7rem 0;
}
.s-combos .highlights {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3.2rem;
  animation: zoomIn 1s forwards;
}
.s-combos .highlights > .box {
  background-color: var(--yellow) !important;
  width: 26.3rem !important;
}
.s-combos .highlights .box {
  background-color: var(--cream);
  border-radius: 12px;
  width: 21.8rem;
  height: 14.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 9px;
}
.s-combos .highlights .box h3 {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  line-height: 130%;
  font-family: var(--font-mono);
}
.s-combos .highlights ul {
  flex: 1;
  max-width: 92.2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.6rem;
}
.s-combos .highlights ul li .box {
  cursor: pointer;
  transition: var(--transition);
}
.s-combos .highlights ul li .box:hover {
  background-color: var(--brown);
  transform: scale(1.05);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.s-combos .area-slide {
  position: relative;
  margin-top: 6.2rem;
  animation: fadeUp 1s forwards;
}
.s-combos .area-slide .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--yellow);
  z-index: 2;
  border-radius: 50%;
  width: 4.8rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.s-combos .area-slide .btn.swiper-button-disabled {
  opacity: 0.8;
  cursor: not-allowed;
  pointer-events: none;
}
.s-combos .area-slide .btn:hover {
  background-color: var(--orange);
}
.s-combos .area-slide .btn.btn-prev {
  left: -2.4rem;
}
.s-combos .area-slide .btn.btn-next {
  right: -2.4rem;
  transform: translateY(-50%) rotate(180deg);
}
.s-combos .area-slide .slide-combos {
  overflow: hidden;
}
.s-combos .area-slide .slide-combos .card-combo {
  width: 100%;
  height: 49.3rem;
  border-radius: 6px;
  overflow: hidden;
  background-color: var(--cream);
}
.s-combos .area-slide .slide-combos .card-combo .image {
  position: relative;
  width: 100%;
  height: 34rem;
  overflow: hidden;
  border-bottom: 3px dotted var(--white);
}
.s-combos .area-slide .slide-combos .card-combo .image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.s-combos .area-slide .slide-combos .card-combo .image button {
  position: absolute;
  top: 2.5rem;
  right: 2.6rem;
  z-index: 2;
  width: 3.8rem;
  height: 3.8rem;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition);
}
.s-combos .area-slide .slide-combos .card-combo .image button:hover {
  background-color: var(--cream);
}
.s-combos .area-slide .slide-combos .card-combo .info {
  padding: 3.6rem 4.4rem;
}
.s-combos .area-slide .slide-combos .card-combo .info strong {
  color: var(--brown);
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 1.4rem;
  letter-spacing: -0.2px;
  display: block;
}
.s-combos .area-slide .slide-combos .card-combo .info h3 {
  font-family: var(--font-mono);
  font-size: 3.2rem;
  color: var(--orange);
}
.s-combos .controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4.7rem;
}
.s-combos .controls .swiper-pagination {
  position: relative;
  left: 0;
  width: auto;
}
.s-combos .controls .swiper-pagination .swiper-pagination-bullet {
  background-color: var(--yellow);
}
.s-combos .controls .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--orange);
  transform: scale(1.1);
}
.s-combos .controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}
.s-combos .controls button span {
  color: var(--yellow);
  font-family: var(--font-mono);
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: var(--transition);
}
.s-combos .controls button span:hover {
  color: var(--orange);
}

.footer {
  background-color: var(--brown);
}
.footer .main-area {
  padding-top: 4.9rem;
  padding-bottom: 4.4rem;
  animation: zoomIn 1s forwards;
}
.footer .main-area .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .main-area .container > ul {
  gap: 3.5rem;
}
.footer .main-area ul {
  display: flex;
  align-items: center;
}
.footer .main-area ul li a {
  color: var(--white);
  font-size: 0.9375rem;
  font-weight: bold;
  font-family: var(--font-mono);
  transition: var(--transition);
}
.footer .main-area ul li a:hover {
  color: var(--yellow);
}
.footer .main-area .logo {
  width: 9.6rem;
  height: 9.6rem;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .main-area .social {
  display: flex;
  align-items: center;
  gap: 3.1rem;
}
.footer .main-area .social span {
  color: var(--white);
  font-size: 0.9375rem;
  font-weight: bold;
  font-family: var(--font-mono);
}
.footer .main-area .social ul {
  gap: 2.3rem;
}
.footer .main-area .social li a {
  width: 6.4rem;
  height: 6.4rem;
  background-color: #5d2a1c;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .main-area .social li a img {
  transition: var(--transition);
}
.footer .main-area .social li a img:hover {
  transform: scale(1.2);
}
.footer .copy {
  text-align: center;
  padding-bottom: 1rem;
  animation: fadeUp 1s forwards;
}
.footer .copy p {
  color: var(--gray);
  font-size: 1.4rem;
  font-weight: bold;
  font-family: var(--font-mono);
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeRight {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeUp {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}/*# sourceMappingURL=main.css.map */